.faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
}

.question {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
}

.answer {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: .4s ease;
}

.panel:checked~.answer {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    user-select: none;
    transition: .2s ease;
}

.panel:checked~.plus {
    transform: rotate(45deg);
}

.panel {
    display: none;
}