/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto&display=swap');

/* Style Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid #f00 !important; */
}

/* General Styling */
.SectionTitle {
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SectionTitle h2 {
    border-bottom: 5px solid var(--yc);
    letter-spacing: 5px;
    opacity: 0;
}

button {
    background-color: var(--pc);
    color: var(--wc);
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-family: var(--frss);
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover {
    color: var(--pc);
    background-color: var(--wc);
    transition: all 0.3s linear;
}

button:active {
    box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.3);
}

body {
    overflow-x: hidden;
}

/* Assining Fonts */
:root {
    --fp: 'Pattaya';
    --fhp: 'Henny Penny';
    --frss: 'Roboto', sans-serif;
}

h1,
h2 {
    font-family: var(--fhp);
}

h3,
h4,
h5,
button,
a,
p {
    font-family: var(--frss);
}

/* Assining Colors */
:root {
    --pc: #9453A6;
    --gc: #8cbf3f;
    --yc: #f2cc0f;
    --wc: #f2f2f2;
    --bc: #0d0d0d;
}



.triviaWidget{
    position: fixed;
    z-index: 5;
    bottom: 0;
    margin: 0px 10px 10px 0px;
    right: 0;
    opacity: 0.5;
    font-size: 3.5em;
    transition: all 0.3s ease-in;
    color: var(--gc);
    cursor: pointer;
}
.triviaWidget:hover{
    opacity: 1;
    transform: scale(1.25);
    transition: all 0.3s ease-out;
    color: var(--yc);
}

/* -------------------- (SECTION 1) -------------------- */

/*    NAV BAR    */
.logo {
    color: var(--wc);
    letter-spacing: 3px;
    font-size: 1.2em;
    margin-left: 15px;
}

.logo img {
    width: 80px;
    height: 10%
}

nav {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--wc);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

i {
    color: var(--pc);
    font-size: 1.3em;
}

.navLinks {
    width: 30%;
    display: flex;
    justify-content: space-around;

}

.navLinks li {
    list-style-type: none;
}

.navLinks a {
    text-decoration: none;
    color: var(--bc);
    /* border-bottom: 4px solid var(--yc); */
}

.navLinks a:hover {
    color: var(--yc);
}

.underLine {
    height: 5px;
    width: 0%;
    background-color: var(--yc);
}


/*    BURGER MENU NAV    */
.burgerMenu div {
    width: 25px;
    height: 3px;
    background-color: var(--bc);
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.burgerMenu {
    display: none;
    cursor: pointer;
    margin-right: 15px;
    background-size: cover;
}









/*    HEADER SLIDER    */
.headerContainer,
.headerContainerHome {
    min-height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.blackOverlay,
.blackOverlayHome {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75vh;
}

/* only home page */
.headerContainerHome {
    background-image: url("images/site-images/img27.jpg");
}


.headerTitle h1,
h5 {
    color: var(--wc)
}

.headerTitle h1 {
    font-size: 3em;
}

.headerTitle h5 {
    font-size: 1em;
}

.headerTitle button {
    color: var(--pc);
    padding: 12px 30px;
    margin-top: 50px;
    border-radius: 25px;
    background-color: var(--wc);
    border: none;
    outline: none;
}

.headerTitle button:hover {
    background-color: var(--pc);
    color: var(--wc);
}

.headerTitle button:active {
    background-color: var(--pc);
    color: var(--wc);
    box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.3);
}










/* -------------------- (SECTION 2) -------------------- */

/*    MEDIA SECTION    */


.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1 0 15%;
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}















/* -------------------- (SECTION 3) -------------------- */

/*    SLIDER SECTION    */
.whenMardi p {
    margin: 0px 50px;
    text-align: center;
    line-height: 1.7;
    min-height: 250px;
}

.mySlides {
    display: none
}
.mySlides img {
    width: 100%;
    height:35vh;
    object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  width: 100vw;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: var(--wc);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 10%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--wc);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {

  animation-name: fadeIn;
  animation-duration: 1.5s;
}











/* -------------------- (SECTION 4) -------------------- */

/*    SPONSORS SECTION    */

.sponsorsSection {
    min-height: 75vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.sponsorCard {
    text-align: center;
    margin: 0px 10px 20px;
}



/* POPUP STYLE */
.popupOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.popup {
    width: 100%;
    height: 40vh;
    max-width: 85vw;
    margin: 30vh auto;
    padding: 15px;
    background-color: #fff;
    position: relative;
}

.popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}










/* -------------------- (SECTION 5) -------------------- */

/*    ABOUT US SECTION    */

.aboutUs {
    display: grid;
}

.aboutUs p {
    grid-area: para;
}

.aboutUs button {
    grid-area: button;
}

.aboutUs img {
    grid-area: img;
}

.aboutUs button a {
    text-decoration: none;
    color: var(--wc)
}

.aboutUs {

    text-align: center;
}












/* -------------------- (SECTION 6) -------------------- */

/*    FOOTER SECTION    */
footer {
    min-height: 350px;
    width: 100vw;
    background-color: #26272B;
    color: var(--wc);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "footerAbout footerMore footerLast"
        "footerAbout footerMore footerLast"
        "footerAbout footerMore footerLast"
        "footerEnd   footerEnd   footerEnd";
    gap: 25px;

}

footer h4 {
    margin-bottom: 15px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-top: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #999;
}

footer ul li a:hover {
    text-decoration: none;
    color: var(--yc);
}

.footerAbout,
.footerMore,
.footerLast {
    margin: 20px 50px 0px;
    text-align: justify;
}

.footerAbout {
    grid-area: footerAbout;
}

.footerMore {
    grid-area: footerMore;
}

.footerLast {
    grid-area: footerLast;
}

.footerLast img {
    width: 100px;
    height: 120px;
}

footer p {
    color: #999;

}

.footerEnd {
    grid-area: footerEnd;
}

.footerEnd {
    width: 100vw;
    height: 60px;
    background-color: #1a1b1d;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(172, 172, 172); 
}










/* ----------( Responsive Media Queries )------------ */

/* Small to big cause of min-width */
@media (min-width: 751px) {
    .burgerMenu {
        display: none;
    }

    .navLinks {
        display: block;
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
    .mySlides img {
        height:45vh;
    }
    .sponsorsSection {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px;
    }

    .sponsorCard h3 {
        /* in case tittle miss up the order */
        height: 44px;
    }

    button {

        padding: 15px 30px;
    }

    .popup {
        height: 55vh;
        padding: 15px;
    }

    .imgContainer img {
        width: 70%;
        height: 100%;
    }

    .aboutUs {

        display: grid;
        grid-template-areas:
            "para"
            "button"
            "img"
        ;
        gap: 50px;
        margin: auto 10%;
    }

    .aboutUs p {
        padding: 0px 5%
    }

    .aboutUs p button {
        margin-top: 5%;
    }

    .aboutUs img {
        width: 100%;

    }
}

/* ---------- Biggest Screen -----------  */
@media (min-width: 1100px) {
/* Underline animation on nav links */
.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}

.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: var(--pc);
    height: 5px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    right: 0;
}

    .navLinks {
        width: 40%;
    }
    .mySlides img {
        height:65vh;
    }
    .sponsorCard1 {
        grid-column: 1 / 2;
    }

    .sponsorCard2 {
        grid-column: 2 / 3;
    }

    .sponsorCard3 {
        grid-column: 3 / 4;

    }

    .sponsorCard4 {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .sponsorCard5 {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .sponsorCard6 {
        grid-column: 3/4;
        grid-row: 2;
    }

    .sponsorCard img {
        min-width: 300px;
    }
 
    .sponsorCard h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        opacity: 0;
        height: 60px;
        margin: -60px auto;
        transform: translateY(60px);
        transition: all 0.3s ease-out;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--wc);
        letter-spacing: 2px;
    }

    .sponsorCard{
        overflow-y: hidden;
    }

    .mediaSection {
        margin: 0px 10%;
    }
    .gallery-image:hover {
        transform: scale(1.3);
        transition: all 0.3s ease-out;
    }

    button {
        padding: 15px 50px;
        font-weight: bold;
    }

    .imagesSlider img {
        max-height: 75vh;

    }

    .whenMardi p {

        min-height: 150px;
    }

    .popup {
        height: 70vh;
        padding: 15px;
        margin: 20vh auto;
    }

    .imgContainer img {
        width: 50%;
        height: 100%;
        filter: blur(2px);
        transform: scale(1.5);
        transition: all 0.2s ease-out;
    }

    .imgContainer img:hover {
        overflow: hidden;
        filter: blur(0px);
        transform: scale(1.2);
        transition: all 0.3s ease-in;
    }

    .imgContainer {
        overflow: hidden;

    }

    .headerTitle h1 {
        font-size: 5em;
    }

    .headerTitle h5 {
        font-size: 1.3em;
    }

    .aboutUs {

        display: grid;
        grid-template-areas:
            "para img"
            "button img"
        ;
        gap: 100px;
        margin: auto 10%;
    }

    .aboutUs p {
        padding: 0px 5%
    }

    .aboutUs p button {
        margin-top: 20%;
    }

    .aboutUs img {
        width: 100%;

    }
}

@media (min-width: 1260px) {


    .imagesSlider img {
        max-height: 75vh;
    }

    .popup {
        height: 80vh;
        margin: 15vh auto;
    }

    .imgContainer img {
        transform: scale(1.80);
    }

    .imgContainer img:hover {
        overflow: hidden;
        filter: blur(0px);
        transform: scale(1.9);
        transition: all 0.2s ease-in;
    }


}


/* big to small/another order caused of max-width  */

/*  SMALLEST - MOBILE */
@media (max-width: 750px) {

    /* -- Responsive for Nav  -- */
    .logo img {
        width: 70px;
        height: 70px
    }
    .navLinks {
        position: absolute;
        right: 0;
        top: 9vh;
        height: 91vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--wc);
        width: 50%;
        transform: translateX(100%);
        transition: 0.4s ease-in-out;
    }

    .burgerNavActive {
        transform: translateX(0%)
    }

    .darkenScreenOnNavActive {
        position: absolute;
        left: 0;
        top: 9vh;
        width: 50%;
        height: 91vh;
        background-color: #000;

    }

    .navLinks li {
        width: 100%;
        text-align: center;
        letter-spacing: 10px;
        font-size: 1.2em;
        opacity: 0;
        margin: 20%;
    }

    .burgerMenu {
        display: block;
    }

    .sponsorCard h3,
    p {
        /* in case tittle miss up the order */
        height: 44px;
    }

    .sponsorCard h3 {
        margin-top: -48px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--wc);

    }

    .sponsorsSection {
        gap: 0px;
    }

    .sponsorCard1 {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .sponsorCard2 {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    .sponsorCard3 {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .sponsorCard4 {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .sponsorCard5 {
        grid-column: 1 / 2;
        grid-row: 3;
    }

    .sponsorCard6 {
        grid-column: 2/3;
        grid-row: 3;
    }

    .imgContainer img {
        /* overflow: hidden; */
        width: 100%;

    }

    /* -- Responsive for Media Section -- */
    .mediaSection {
        margin: 0px 10%;
    }

    .popup {
        height: 40vh;
        padding: 15px;
    }

    .aboutUs {

        display: grid;
        grid-template-areas:
            "para "
            "button"
            "img"
        ;
        gap: 150px;
        margin: auto 10%;
    }

    .footerAbout {
        text-align: center;
    }

    .aboutUs img {
        width: 100%;
        margin-top: 10%;
    }

    .whenMardi p {
        margin-bottom: 10%;
    }


    /* (keyframes) */
    @keyframes navLinksFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    /* Section Title Animation */
    @keyframes slideLeft {
        from {
            opacity: 0;
            transform: translateX(-300px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    /* Fade in animation */
    @keyframes fadeIn {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }

    /* Slide up and fade in animation */
    @keyframes slideUpFading {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }



    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    footer {
        min-height: 450px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "footerMore footerLast"
            "footerMore footerLast"
            "footerAbout footerAbout"
            "footerAbout footerAbout"
            "footerEnd   footerEnd ";
        gap: 5px;

    }

}


/* VERY SMALL SCREENS */
@media (max-width: 413px) {

    .sponsorsSection {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .aboutUs img {

        margin-top: 20%
    }

    .whenMardi p {
        margin-bottom: 25%;
    }
.footerAbout img{
    margin-top: 20px;
}
}