.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;

}

iframe {
    width: 80%;
    height: 300px;
    margin-bottom: 10px;
    justify-self: center;
}

@media (max-width: 750px) {
    .videos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    iframe {
        width: 70%;
        height: 250px;
    }
}