body {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 85vw;
    min-height: 80vh;
    padding: 5%;
    margin: 10vh auto;
    background-color: #fff;
    position: relative;
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "question question question question" 
    "answer1 answer1 answer2 answer2"
    "answer3 answer3 answer4 answer4"
    "start start start start"
    "score suffle shuffle lives"
    ;
}

.minusFive,.plusTen{
position: absolute;
bottom: 0;
margin-bottom: 50px;
margin-left: 50px;
font-size: 4em;
font-weight: 600;
opacity: 0.7;
display: none;
}
.minusFive{
    color: red;
    transition: all 0.5s ease-in;
}
.plusTen{
    color: green;
    transition: all 0.5s ease-in;
}

.answer,
.score,.lives,.shuffle {
    font-family: var(--frss);
    font-size: 1.5em;
    letter-spacing: 2px;
}

.start {
    grid-area: start;
    height: 50px;
    width: 70%;
    justify-self: center;
    align-self: flex-end;
    z-index: 11;
}

.score {
    grid-area: score;
    align-self: flex-end;
    justify-self: flex-start;
}
.scoreBoard{
    background-color: var(--wc);
    z-index: 10;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 1.5em;
    font-family: var(--frss);
    display: grid;
    display: none;
    text-align: center;
    line-height: 3;
}
.lives{
    grid-area: lives;
    align-self: flex-end;
    justify-self: flex-end;
}
.shuffle{
    grid-column: 2/4;
    grid-row: 5;
    align-self: flex-end;
    background: var(--bc);
    color: var(--wc);
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

.question {
    grid-area: question;
    justify-self: center;
    font-family: var(--fp);
    font-size: 1.8em;
}

.answer {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 65px;
    line-height: 60px;
    background-color: var(--wc);
    border-radius: 5px;
    opacity: 0.6;
    text-align: center;
}

.answer:active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
        opacity: 1;
}

.answer1 {
    grid-area: answer1;
    
}

.answer2 {
    grid-area: answer2;
}

.answer3 {
    grid-area: answer3;
}

.answer4 {
    grid-area: answer4;
}

@media (min-width: 751px) {
    .container {
        width: 70%;
        height: 60%;
        gap: 30px
    }
    .answer,
    .score,.shuffle {
        font-family: var(--frss);
        font-size: 1em;
        letter-spacing: 1.5px;
    }
}
@media (min-width:1000px){
    .container {
        width: 65vw;
        height: 65vh;
        margin: 10vh auto;
        background-color: var(--wc);
        gap: 60px
    }
    .answer:hover {
        opacity: 1;
        /* background-color: rgb(247, 123, 28); */
        transition: all 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 750px) {
    .container {
        width: 85vw;
        min-height: 70vh;
        margin: 10vh auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "question question question"
            "answer1 answer1 answer1"
            "answer2 answer2 answer2"
            "answer3 answer3 answer3"
            "answer4 answer4 answer4"
            "start start start"
            "score shuffle lives";
    }

    .answer,
    .score,.lives,.shuffle {
        font-family: var(--frss);
        font-size: 1.5em;
        letter-spacing: 1.5px;
    }
    .question {
        font-size: 1.5em;
    }
    .shuffle{
        grid-column: 2;
        grid-row: 7;
        
    }
    .minusFive,.plusTen{
margin-left: 15px;
margin-bottom: 50px;
font-size: 2.5em;
    }
}


@keyframes showScore {
    from {
        opacity: 0;
        transform: scale(1);
    }

    to {
        opacity: 0.7;
        transform: scale(1.5);
    }
}

@keyframes hideScore {
    from {
        opacity: 0.7;
        transform: scale(1.5);
    }

    to {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes slidLeft {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }

    to {
        opacity: 0.6;
        transform: translateX(0px);
    }
}


@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }

    to {
        opacity: 0.6;
        transform: translateX(0px);
    }
}

